############################################################
# IDE
############################################################
.idea/


############################################################
# Package managers
############################################################
node_modules/
npm-debug.log
bower_components/


############################################################
# Temporary or generated folders
############################################################
/.tmp/
/report/
/build/

