[project]
	description = A sneak peek into an AngularJS RESTful app I am currently developing.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Samuel R (sryzycki)
[access "refs/for/refs/*"]
	read = group user/Samuel R (sryzycki)
	push = group user/Samuel R (sryzycki)
	label-Code-Review = -2..+2 group user/Samuel R (sryzycki)
	label-Verified = -1..+1 group user/Samuel R (sryzycki)
	rebase = group user/Samuel R (sryzycki)
	removeReviewer = group user/Samuel R (sryzycki)
	submit = group user/Samuel R (sryzycki)
[access "refs/heads/*"]
	read = group user/Samuel R (sryzycki)
	create = group user/Samuel R (sryzycki)
	push = +force group user/Samuel R (sryzycki)
	pushMerge = group user/Samuel R (sryzycki)
[access "refs/tags/*"]
	push = +force group user/Samuel R (sryzycki)
	pushTag = group user/Samuel R (sryzycki)
	pushSignedTag = group user/Samuel R (sryzycki)
