<div class="page-header">
    <h1>Manage your obi: <em>{{ vm.project.name }}</em></h1>
</div>

<form action="">
    <p>
        <button class="btn btn-primary" type="button" ng-click="vm.edit()">Edit your obi</button>
        <button class="btn btn-success" type="button" ng-click="vm.save()" ng-show="vm.isEdited">Save your changes</button>
        <button class="btn btn-danger" type="button" ng-click="vm.destroy()">Destroy your obi</button>
    </p>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <td>Name:</td>
                <td>{{ vm.project.name }}</td>
                <td width="25%" ng-show="vm.isEdited">
                    <input class="form-control" type="text" value="Current name"/>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ vm.project.description }}</td>
                <td ng-show="vm.isEdited">
                    <input class="form-control" type="text" value="Current description"/>
                </td>
            </tr>
            <tr>
                <td>Domain prefix:</td>
                <td>
                    <a href ng-href="http://{{ vm.project.domainPrefix }}.tstr.io" target="_blank">
                        {{ vm.project.domainPrefix }}.tstr.io
                    </a>
                </td>
                <td ng-show="vm.isEdited"></td>
            </tr>
            <tr>
                <td>Created at:</td>
                <td>{{ vm.project.createdAt }}</td>
                <td ng-show="vm.isEdited"></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ vm.project.status }}</td>
                <td ng-show="vm.isEdited"></td>
            </tr>
        </tbody>
    </table>
</form>


<div class="page-header">
    <h2>Events</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.project.events">
            <td>{{ item.title }}</td>
            <td>{{ item.completed }}</td>
        </tr>
    </tbody>
</table>
