<div class="page-header">
    <h1>Create a new obi</h1>
</div>

<form name="vm.form" novalidate ng-submit="vm.add()">
    <div class="form-group"
         ng-class="{'has-success': vm.form.name.$valid,
                    'has-error': vm.form.name.$touched && vm.form.name.$invalid}">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" placeholder="Enter a name"
               name="name" ng-model="vm.project.name" required>

        <div class="error" ng-show="vm.form.$submitted || vm.form.name.$touched">
            <small class="error text-danger" ng-show="vm.form.name.$error.required">
                Name is required.
            </small>
        </div>
    </div>

    <div class="form-group"
         ng-class="{'has-success': vm.form.domainPrefix.$valid,
                    'has-error': vm.form.domainPrefix.$touched && vm.form.domainPrefix.$invalid}">
        <label for="domainPrefix">Domain prefix</label>
        <input class="form-control" type="text"  id="domainPrefix" placeholder="Enter a domain prefix"
               name="domainPrefix" ng-model="vm.project.domainPrefix" ng-minlength="2" ng-maxlength="64"
               tscd-ensure-unique required>

        <div class="error" ng-show="vm.form.$submitted || vm.form.domainPrefix.$touched">
            <small class="error text-danger" ng-show="vm.form.domainPrefix.$error.required">
                Domain prefix is required.
            </small>
            <small class="error text-danger" ng-show="vm.form.domainPrefix.$error.minlength">
                Domain prefix is required to be at least 2 characters.
            </small>
            <small class="error text-danger" ng-show="vm.form.domainPrefix.$error.maxlength">
                Domain prefix cannot be longer than 64 characters.
            </small>
        </div>
        <div class="pending" ng-show="vm.form.domainPrefix.$invalid || vm.form.domainPrefix.$pending">
            <small class="pending text-info" ng-show="vm.form.domainPrefix.$pending.unique">
                <i class="fa fa-spinner fa-spin"></i> Checking if this domain is available...
            </small>
            <small class="error text-danger" ng-show="vm.form.domainPrefix.$error.unique">
                <i class="fa fa-exclamation-circle"></i> That name is taken. Please try another one.
            </small>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-success': vm.form.adminPassword.$valid,
                                       'has-error': vm.form.adminPassword.$touched && vm.form.adminPassword.$invalid}">
        <label for="adminPassword">Admin password</label>
        <input class="form-control" type="password" id="adminPassword" placeholder="Enter a password"
               name="adminPassword" ng-model="vm.project.adminPassword" ng-minlength="6" ng-maxlength="128" required>

        <div class="error" ng-show="vm.form.$submitted || vm.form.adminPassword.$touched">
            <small class="error text-danger" ng-show="vm.form.adminPassword.$error.required">
                Admin password is required.
            </small>
            <small class="error text-danger" ng-show="vm.form.adminPassword.$error.minlength">
                Admin password is required to be at least 6 characters.
            </small>
            <small class="error text-danger" ng-show="vm.form.adminPassword.$error.maxlength">
                Admin password cannot be longer than 128 characters.
            </small>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
    <button class="btn btn-danger" type="reset" ng-click="vm.reset()">Clear</button>
</form>

<hr/>

<div>
    <p>Form debug:</p>
    <pre>
        {{ vm.project }}
    </pre>
</div>
